---
layout: default
title: Neue Welt
---


<div class="wrapper">
    <div class="h_iframe">
        <img class="ratio" src="assets/images/140x100.png"/>
        <iframe src="https://player.vimeo.com/video/470602241" width="100%" height="100%" frameborder="0" allow="autoplay;" ></iframe>
    </div>
</div>
<div class="lightbox_thumbs">
    <div>Read the Introductory Section</div>
    <div>
<a data-options='{"caption" : "The story begins"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_1.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_1.png">
</a>
<a data-options='{"caption" : "Wolfs formative years"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_2.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_2.png">
</a>
<a data-options='{"caption" : "Karolinas education; Wolf returns"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_3.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_3.png">
</a>
<a data-options='{"caption" : "Magasbruck and Berlin"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_4.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_4.png">
</a>
<a data-options='{"caption" : "Turning points"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_5.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_5.png">
</a>
<a data-options='{"caption" : "America"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_6.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_6.png">
</a>
<a data-options='{"caption" : "A dream dies"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_7.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_7.png">
</a>
<a data-options='{"caption" : "Unhappy returns"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_8.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_8.png">
</a>
<a data-options='{"caption" : "Showing intitiative"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_9.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_9.png">
</a>
<a data-options='{"caption" : "Brief Encounter"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_10.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_10.png">
</a>
<a data-options='{"caption" : "A connection?"}' data-width="1800px" data-height="1211px" data-fancybox="gallery" href="https://neue-welt-images.s3.amazonaws.com/current_pages/page_11.pdf">
    <img src="https://neue-welt-images.s3.amazonaws.com/current_pages/page_11.png">
</a>
</div>
</div>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<script>

document.querySelector('button.iframe').onclick = () => {

basicLightbox.create(`
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Scxs7L0vhZ4" frameborder="0" allowfullscreen></iframe>
`).show()

}
</script>

